@font-face { 
  font-family: 'Creepster'; 
} 
body {
  overflow: hidden;
}
.starting-screen {
  margin: 0 auto;
  border: 1px solid black;
  background: url('../images/starting-screen.png');
  position: relative;
}
canvas {
  border: 1px solid black;
  margin: 0 auto;
  cursor: crosshair;
  display: none;
}
.start-game-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: url('../images/start-btn.png');
  position: absolute;
  top: 80%;
  left: 46%;
  border: 2px solid black;
}
.start-mission-btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: url('../images/start-mission-btn.png');
  position: absolute;
  top: 80%;
  left: 10%;
  border: 2px solid black;
}
.select-player-btn-anuj {
  position: absolute;
  max-width: 20%;
  background: teal;
  color: white;
  font-size: 20px;
  text-align: center;
  top: 45%;
  left: 77%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
.select-player-btn-anuj:hover {
  cursor: pointer;
}
.select-player-btn-shyam {
  position: absolute;
  max-width: 20%;
  background: silver;
  color: black;
  font-size: 20px;
  text-align: center;
  top: 18%;
  left: 50%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
.select-player-btn-shyam:hover {
  cursor: pointer;
}
.select-player-btn-hari {
  position: absolute;
  max-width: 20%;
  background: pink;
  color: green;
  font-size: 20px;
  text-align: center;
  top: 40%;
  left: 26%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
.select-player-btn-hari:hover {
  cursor: pointer;
}
.instruction-container {
  position: absolute;
  top: 25%;
  left: 8%;
  width: 25%;
  font-size: 30px;
  color: grey;
}
.loading-percentage {
  font-size: 60px;
  font-family: 'Creepster';
  text-align: center;
  padding: 100px;
}